examples/Twitter_Kafka_MongoDB/Twitter-kafka-MongoDB.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>7a714b4e-0168-1000-056e-6c88464fe2ff</groupId>
    <name>Twitter-kafka-MongoDB</name>
    <snippet>
        <connections>
            <id>1a3a9011-961e-39d4-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>c67ef8b6-c573-3ee8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>7e98bf89-d286-3c04-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1be7d9f3-8d21-3ba3-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>7e98bf89-d286-3c04-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>1f3a6495-0896-3222-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2f75c185-3f72-3af2-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>b3366963-ba3d-3948-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>e367dcbc-bb21-3049-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>45e160dc-3c47-3065-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>a53ba473-d900-33be-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>ff61984a-5d8c-3cb3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7cd643a7-bff5-3904-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>df9f1d70-6410-3aed-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>a53ba473-d900-33be-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e987a4e6-5261-39d8-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>b99b01c1-7c08-3030-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>ff61984a-5d8c-3cb3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f805dbea-8e21-3a0d-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>1f3a6495-0896-3222-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>df9f1d70-6410-3aed-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fb21c42d-03ec-3739-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>e367dcbc-bb21-3049-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>49d0dd82-2b0b-31e7-0000-000000000000</groupId>
                <id>df9f1d70-6410-3aed-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <labels>
            <id>1ecf823f-6042-3c7f-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <height>205.93905639648438</height>
            <label>                   Ingesta de datos de Twitter</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>437.52685546875</width>
        </labels>
        <labels>
            <id>9d01ae74-8e93-3dcb-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>779.4238719358</x>
                <y>277.14816373924486</y>
            </position>
            <height>521.4353942871094</height>
            <label>                 Insercción directa de Kafka a MongoDB</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d6ffe8</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>420.7449951171875</width>
        </labels>
        <processors>
            <id>1f3a6495-0896-3222-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>30.716311570298103</x>
                <y>941.2231103293134</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>jolt-transform</key>
                        <value>
                            <name>jolt-transform</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                        <value>
                            <name>jolt-custom-class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                        <value>
                            <name>jolt-custom-modules</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>
                            <name>jolt-spec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>
                            <name>Transform Cache Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>
                            <name>pretty_print</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>jolt-transform</key>
                        <value>jolt-transform-chain</value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value> [{
    "operation": "shift",
    "spec": {
      "created_at": "created_date_time",
      "id": "tweet_id",
      "text": "tweet_text",
      "user": {
        "id": "user_id"
      }
    }
},
{
    "operation": "default",
    "spec":{
   		"chainr-rating" : 4   
 	}
}
]</value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>JoltTransformJSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
        <processors>
            <id>7e98bf89-d286-3c04-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>810.0159354606305</x>
                <y>938.4673436497478</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-0-8-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Known Brokers</key>
                        <value>
                            <name>Known Brokers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Topic Name</key>
                        <value>
                            <name>Topic Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Partition</key>
                        <value>
                            <name>Partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kafka Key</key>
                        <value>
                            <name>Kafka Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delivery Guarantee</key>
                        <value>
                            <name>Delivery Guarantee</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message Delimiter</key>
                        <value>
                            <name>Message Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Buffer Size</key>
                        <value>
                            <name>Max Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Record Size</key>
                        <value>
                            <name>Max Record Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Async Batch Size</key>
                        <value>
                            <name>Async Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Queue Buffering Max Time</key>
                        <value>
                            <name>Queue Buffering Max Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Codec</key>
                        <value>
                            <name>Compression Codec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client Name</key>
                        <value>
                            <name>Client Name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Known Brokers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>Topic Name</key>
                        <value>TopicTweets_Pro</value>
                    </entry>
                    <entry>
                        <key>Partition</key>
                    </entry>
                    <entry>
                        <key>Kafka Key</key>
                    </entry>
                    <entry>
                        <key>Delivery Guarantee</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Message Delimiter</key>
                    </entry>
                    <entry>
                        <key>Max Buffer Size</key>
                        <value>5 MB</value>
                    </entry>
                    <entry>
                        <key>Max Record Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Async Batch Size</key>
                        <value>16384</value>
                    </entry>
                    <entry>
                        <key>Queue Buffering Max Time</key>
                    </entry>
                    <entry>
                        <key>Compression Codec</key>
                        <value>none</value>
                    </entry>
                    <entry>
                        <key>Client Name</key>
                        <value>PoC</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutKafka</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.PutKafka</type>
        </processors>
        <processors>
            <id>a53ba473-d900-33be-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>30.207144421743806</x>
                <y>372.5542750008069</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.lang</key>
                        <value>
                            <name>twitter.lang</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.text</key>
                        <value>
                            <name>twitter.text</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>twitter.lang</key>
                        <value>$.lang</value>
                    </entry>
                    <entry>
                        <key>twitter.text</key>
                        <value>$.text</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>b3366963-ba3d-3948-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>812.2352839176797</x>
                <y>328.9218035857966</y>
            </position>
            <bundle>
                <artifact>nifi-mongodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>mongo-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
                            <name>mongo-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>
                            <name>Mongo URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>
                            <name>Mongo Database Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>
                            <name>Mongo Collection Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl-context-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>
                            <name>ssl-client-auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mode</key>
                        <value>
                            <name>Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Upsert</key>
                        <value>
                            <name>Upsert</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Query Key</key>
                        <value>
                            <name>Update Query Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putmongo-update-query</key>
                        <value>
                            <name>putmongo-update-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-mongo-update-mode</key>
                        <value>
                            <name>put-mongo-update-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>
                            <name>Write Concern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>mongo-client-service</key>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>mongodb://mongo:27017</value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>Poc_Twitter</value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>Messages</value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>REQUIRED</value>
                    </entry>
                    <entry>
                        <key>Mode</key>
                        <value>insert</value>
                    </entry>
                    <entry>
                        <key>Upsert</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Update Query Key</key>
                    </entry>
                    <entry>
                        <key>putmongo-update-query</key>
                    </entry>
                    <entry>
                        <key>put-mongo-update-mode</key>
                        <value>doc</value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>ACKNOWLEDGED</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutMongo</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
        </processors>
        <processors>
            <id>b99b01c1-7c08-3030-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>785.9790449899408</x>
                <y>8.28985392284767</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/tmp/Ejemplo_twitter/raw</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Put Raw File</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>c67ef8b6-c573-3ee8-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>1271.8086851516532</x>
                <y>931.8129205021282</y>
            </position>
            <bundle>
                <artifact>nifi-mongodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>mongo-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
                            <name>mongo-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>
                            <name>Mongo URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>
                            <name>Mongo Database Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>
                            <name>Mongo Collection Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl-context-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>
                            <name>ssl-client-auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mode</key>
                        <value>
                            <name>Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Upsert</key>
                        <value>
                            <name>Upsert</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Query Key</key>
                        <value>
                            <name>Update Query Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putmongo-update-query</key>
                        <value>
                            <name>putmongo-update-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-mongo-update-mode</key>
                        <value>
                            <name>put-mongo-update-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>
                            <name>Write Concern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>mongo-client-service</key>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>mongodb://mongo:27017</value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>Poc_Twitter</value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>Messages_Pro</value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>REQUIRED</value>
                    </entry>
                    <entry>
                        <key>Mode</key>
                        <value>insert</value>
                    </entry>
                    <entry>
                        <key>Upsert</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Update Query Key</key>
                    </entry>
                    <entry>
                        <key>putmongo-update-query</key>
                    </entry>
                    <entry>
                        <key>put-mongo-update-mode</key>
                        <value>doc</value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>ACKNOWLEDGED</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutMongo</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
        </processors>
        <processors>
            <id>df9f1d70-6410-3aed-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>25.057845504958777</x>
                <y>659.6367115418652</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tweets</key>
                        <value>
                            <name>tweets</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to 'match' if all match</value>
                    </entry>
                    <entry>
                        <key>tweets</key>
                        <value>${twitter.text:isEmpty():not():and(${twitter.lang:equals("en")})}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>e367dcbc-bb21-3049-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>814.235378783095</x>
                <y>647.5367136859588</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-0-8-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Known Brokers</key>
                        <value>
                            <name>Known Brokers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Topic Name</key>
                        <value>
                            <name>Topic Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Partition</key>
                        <value>
                            <name>Partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kafka Key</key>
                        <value>
                            <name>Kafka Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delivery Guarantee</key>
                        <value>
                            <name>Delivery Guarantee</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message Delimiter</key>
                        <value>
                            <name>Message Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Buffer Size</key>
                        <value>
                            <name>Max Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Record Size</key>
                        <value>
                            <name>Max Record Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Async Batch Size</key>
                        <value>
                            <name>Async Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Queue Buffering Max Time</key>
                        <value>
                            <name>Queue Buffering Max Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Codec</key>
                        <value>
                            <name>Compression Codec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client Name</key>
                        <value>
                            <name>Client Name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Known Brokers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>Topic Name</key>
                        <value>TopicTweets</value>
                    </entry>
                    <entry>
                        <key>Partition</key>
                    </entry>
                    <entry>
                        <key>Kafka Key</key>
                    </entry>
                    <entry>
                        <key>Delivery Guarantee</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Message Delimiter</key>
                    </entry>
                    <entry>
                        <key>Max Buffer Size</key>
                        <value>5 MB</value>
                    </entry>
                    <entry>
                        <key>Max Record Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Async Batch Size</key>
                        <value>16384</value>
                    </entry>
                    <entry>
                        <key>Queue Buffering Max Time</key>
                    </entry>
                    <entry>
                        <key>Compression Codec</key>
                        <value>none</value>
                    </entry>
                    <entry>
                        <key>Client Name</key>
                        <value>PoC</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutKafka</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.PutKafka</type>
        </processors>
        <processors>
            <id>ff61984a-5d8c-3cb3-0000-000000000000</id>
            <parentGroupId>49d0dd82-2b0b-31e7-0000-000000000000</parentGroupId>
            <position>
                <x>29.088388403289287</x>
                <y>34.68231329793957</y>
            </position>
            <bundle>
                <artifact>nifi-social-media-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>
                            <name>Twitter Endpoint</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                        <value>
                            <name>Consumer Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                        <value>
                            <name>Consumer Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>
                            <name>Access Token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                        <value>
                            <name>Access Token Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>
                            <name>Languages</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>
                            <name>Terms to Filter On</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                        <value>
                            <name>IDs to Follow</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                        <value>
                            <name>Locations to Filter On</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>Filter Endpoint</value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                        <value>vorAyFPBT9UXZi8JN5hEXpXUH</value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>840894199637643264-Z9QDKMTm1DekA4OjyVYG69MnrRHfMPw</value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>en</value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>blockchain</value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetTwitter</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#ffffff</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
    </snippet>
    <timestamp>01/23/2019 21:38:37 UTC</timestamp>
</template>
